*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    display: flex;
    height: 100vh;
    justify-content: left;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6); 
    }

    .container{
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;
        }
        
        .container .title{
        font-size: 20px;
        font-weight: 500;
        position: relative;
        }
        
        .container .title::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        
        .container form .table-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
        
        form .table-content .input-box{
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
        }
        
        .table-content .input-box .details{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
        }
        
        .table-content .input-box input{
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
        }
        
        .table-content .input-box input:focus,
        .table-content .input-box input:valid{
        border-color: #9b59b6
        }

        form .table-content .gender-radio-button{
            margin-bottom: 15px;
            width: calc(100% / 2 - 20px);
        }       
    
        .table-content .gender-radio-button .gender-title{
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
            }

